<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="randhawa.deep.faceflash" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/unnamed"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/CupcakeDialog"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:label="HomeScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.support.PARENT_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_ID"></meta-data>

        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ModeChoice"
            android:label="@string/title_activity_mode_choice"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Question1Activity"
            android:label="@string/title_activity_question1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CorrectAnswerActivity"
            android:label="@string/title_activity_correct_answer"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
